
.pageWrapper {
  background-color: #f5f5f5;
  display: flex;
  min-height: calc(100vh - 90px); 
  width: 100%;
}

.sidebar {
  width: 280px;       
  flex-shrink: 0;     
  background: #fff;  
  border-right: 1px solid #e8e8e8;
  padding: 30px 20px;
  
}

.filterBlock {
  margin-bottom: 30px;
  h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #333;
  }
}


.content {
  flex-grow: 1;
  padding: 40px;

  min-width: 0; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  
  h2 {
    margin: 0 !important;
  }
}


@media (max-width: 992px) {

  .pageWrapper {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    min-height: auto; 
    border-right: none;
    border-bottom: 1px solid #e8e8e8;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}